<!DOCTYPE html>
<html lang="tr">
  
  {% include head.html %}

  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KKL6BSX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}

      {% include page-footer.html %}

    </section>
{% include gtag.html %}
  </body>
</html>
